---
// 1. Importa la imagen desde la carpeta 'src/assets'
import logoImage from '~/assets/images/logo.png';
---

<header id="header" class="fixed top-0 left-0 w-full z-50 bg-black md:border-b md:border-[#AE8A60]/50">
  <div class="max-w-7xl mx-auto flex items-center justify-between py-3 px-6">
    <a href="/" class="flex items-center">
      <img src={logoImage.src} alt="Logo" class="h-6 w-auto" width={logoImage.width} height={logoImage.height} />
    </a>

    <a
      href="https://form.jotform.com/251154901037348"
      target="_blank"
      class="px-6 py-2 rounded-full border border-[#AE8A60] text-[#AE8A60] font-medium hover:bg-[#AE8A60] hover:text-black transition"
    >
      Aplicar
    </a>
  </div>
</header>
